
body {
 background-color: #f2f2f2;
}



#allRights {
    text-align: center;
    color: #999;
    font-size: 13px;
    padding-top:30px;
}


.usernameStyle {
    font-size:16px;
    font-weight: 600;
    padding-bottom: 20px;
    
    
}

#title2 {
    margin-top: 70px;
}

#title3 {
    margin-top: 70px;
}

#title4 {
    margin-top: 70px;
}

#title7 {
    margin-top: 70px;
}



input[type="text"] {
    /*width: 100%;*/
}


input[type="button"] {
  color: #FFF;
  border-color: #999;
  background-color: #999; 
}

  
input[type="button"]:focus {
  color: #FFF;
  border-color: #999;
  background-color: #999; 
}

img {
    vertical-align: middle;
    padding-right: 20px;
}

.highlightBg {
     background-color: #FFF;
    color: #FFF;

}


#signinMessage, #signupMessage {
    color: #B00;
    text-align: center;
}

#signupForm, #signinForm {
    width:400px;
}



.narrowInput {
    width: 42%;    
}

.wideInput {
    width: 90%;
}

#logout {
 text-align: right;
 display: block;
}

#confirmationMessage {
    color: #0A0;
}


#friend {
    padding-bottom:20px;
}


#intro {
    font-size: 18px;
    font-weight:100;
}



