html, body {
	margin: 0;
	padding: 0;
}

body {
	
}

img {
	border: none;
	vertical-align: bottom;
}

div.container {
	margin: 80px auto;
	text-align: center;
}

section {
	margin: 80px 0 0 0;
}

article {
	margin: 0 0 32px 0;
}

footer {
	margin: 80px 0 0 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #fff;
	text-shadow: 0px 0px 3px #ff0088;
}
section#bio { 
	width: 450px;
	margin: 80px auto;
}

#gaudyBody {
    background-color: pink;
}
